.App {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    background-color: white;
}

.Buscador {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    /*background-color: black;*/
}

.Buscador form table tr {
    margin: 100% 10%;
}

.Tabla {
    margin: 0 auto;
    text-align: center;
}

.tam-bus {
    width: 1000px;
    margin: 10px;
    padding: 10px 16px;
    border-radius: 32px;
    outline: none;
    border: 2px solid #ccd1d1;
    background: #aeb6bf;
    transition: all 0.5s;
    font-size: 18px;
}

.tam-bus:focus {
    background: #fff;
    width: 1000px;
}

.boton {
    width: 150px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid #ccd1d1;
}

.boton:hover {
    color: #ba1818;
    background-color: #ccd1d1;
}

.boton img {
    width: 70px;
}

.imagen {
    width: 400px;
}

.letras {
    font-family: 'Times New Roman', Times, serif;
}

.letras-tam {
    font-size: 1.5rem;
}